@import '~bootstrap/scss/bootstrap';

@import "./partials/header";

header{
    height: 60px;
}

.main-wrapper{
    height: calc(100vh - 60px);

    .content{
        overflow: auto;
    }
}

.ck-editor__editable[role="textbox"] {
    min-height: 200px;
}

aside{
    width: 350px;
    height: 100%;
    color: white;
    line-height: 2.5rem;

    ul{
        list-style: none;
        a{
            color: white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
